table, th, td {
  border: 1px solid black;
  border-style: hidden;
  font-family: Arial;
  background-image: linear-gradient(DarkSeaGreen, White);
}


  h1 {
    font-family: Arial
}

.tag {
  font-style: italic;

}

body {
  background-color: grey;
}
